body {
    background-color: lightblue;
    margin: 0;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: brown;
    text-align: center;
    font-size: 40px;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

a:hover {
    color: aqua;
}

p {
    border: 2px solid powderblue;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    font-weight: bold;
    border: black;
}

.app-header {
    text-decoration: unset;
    color: black;
}

.Img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.name-container {
    height: 600px;
    width: 100%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.name-header {
    display: flex;
    justify-content: center;
    align-items: center;
}